@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    /*line-height: 1.618;
    font-family: Arial, Helvetica, sans-serif;*/
  font: normal 18px/22px "Open Sans", sans-serif;
  background-color: #e9ffff;
  color: #2e2e2e;
  text-align: center;
}

#menu a.zm-sitename {
  position: absolute;
  top: 15px;
  left: 40px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 6px 12px;
  color: #ffdf00;
}
#menu a.zm-sitename:hover{
  background-color: #006d5c;
  border: 21px solid #006d5c;
  margin-top: -21px;
  margin-left: -21px;
}
a.zm-sitename, a:visited.zm-sitename {
  color: #ffdf00;
  font-weight: bold;
}

.zm-content {
  margin-top: 56px;
  height: 160px;
  position: relative;
  background-image: url(banner-blue-honeycomb-001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.zm-description, {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.zm-site-slogan {
  color: #ffdf00;
  position: absolute;
  top: 0px;
  left: 40px;
  font-weight: bold;
  font-size: 2em;
  line-height: 120%;
  text-align: left;
  max-width: 40%;
  margin-top: 20px;
}

.zm-container {
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
}



ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/**
 * BASIC TYPE
 */

p {
    margin: 0 0 1em;
}

h1, h2, h3, h4 {
    margin: .5em 0 .75em;
    line-height: 1.3;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1em;
}

/**
 * BOX HACKING
 */

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

/**
 * CLEAR FLOATS
 * Reference: http://w3bits.com/clearfix
 */

.cf:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * CONTENT WRAPPER
 */

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 56px;
}

.menu {
  background-color: #00a087;   
  max-height: 300;
}

/*@media only screen and (min-width: 1366px) {
    .menu-wrapper {
        width: 1080px;
    }
}*/

/**
 * ICON SYSTEM
 */

.icon {
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}

.icon-reverse {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/**
 * BUTTONS
 */

.buttons {
    margin: 1.5em 0;
}

.button {
    padding: 1em 1.5em;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.green-sea {
    background: #16a085;
}

.button.green-sea:hover {
    background: #1abc9c;
}

.belize-hole {
    background: #2980b9;
}

.button.belize-hole:hover {
    background: #3498db;
}

.pomegranate {
    background: #c0392b;
}

.button.pomegranate:hover {
    background: #e74c3c;
}

/**
 * HYPERLINKS & NAVIGATION
 */

a {
    color: #555;
}

.lab-nav {
    width: 100%;
}

.lab-nav--fixed {
    position: fixed;
}

.lab-nav--top {
    top: 0;
}

.lab-nav--bottom {
    bottom: 0;
}

.lab-nav,
.lab-follow {
    font-size: 13px;
    line-height: 1;
}

.lab-nav--light,
.lab-follow--light {
    background: rgba(0, 0, 0, 0.05);
}

.lab-nav--light,
.lab-follow--light,
.lab-nav--light a,
.lab-follow--light {
    color: rgba(0, 0, 0, 0.35);
}

.lab-nav--light a:hover,
.lab-nav--light a:active,
.lab-nav--light a:focus,
.lab-follow--light:hover,
.lab-follow--light:active,
.lab-follow--light:focus {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.lab-nav--dark,
.lab-follow--dark {
    background: rgba(255, 255, 255, 0.05);
}

.lab-nav--dark,
.lab-follow--dark,
.lab-nav--dark a {
    color: rgba(255, 255, 255, 0.35);
}

.lab-nav--dark a:hover,
.lab-nav--dark a:active,
.lab-nav--dark a:focus,
.lab-follow--dark:hover,
.lab-follow--dark:active,
.lab-follow--dark:focus {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.lab-follow,
.lab-article-link,
.lab-share a {
    padding: .75em;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
}

.lab-follow,
.lab-article-link span,
.lab-share-link span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lab-follow {
    display: none;
}

.lab-follow .icon {
    vertical-align: top;
}

.lab-article-link {
    float: left;
}

.lab-share {
    float: right;
    text-align: right;
}

.lab-share ul {
    margin: 0;
}

.lab-share li {
    display: inline;
    margin: 0;
}

.lab-article-button {
    font-weight: 700;
    display: block;
    margin: 2em 0 0;
    padding: 1.25em;
    text-align: center;
    color: #CAD0DC;
    border: 3px solid #D1D8DE;
}

/**
 * MEDIA SETTINGS
 */

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.65em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1em;
    }


@media only screen and (max-width: 767px) {
    .lab-article-link span,
    .lab-share span {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .lab-follow {
        display: inline-block;
        position: fixed;
        right: -34px;
        bottom: 20%;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    h1 {
        font-size: 1.75em;
    }
    h2 {
        font-size: 1.45em;
    }
}

@media only screen and (max-width: 767px) {
    .lab-share {
        text-align: right;
    }
}